<BootstrapSettings LaunchTimeout="5000">
  <Dispatchers>
    <DispatcherSettings DispatcherId="HelloWorldDispatcher" 
                        RequireAdministratorPriviledges="False" 
                        MaximumNumberOfProcessingJobs="1">
      <LifeSpan Mode="UntilTimedOut" Timeout="5000" />
      <JobConfigurations>
        <JobConfiguration RequestMaxAttempts="1" RequestTimeout="5000">
          <JobAndWorkerType>
            <JobType>
              <Type FullName="Demo.HelloWorldJob" />
            </JobType>
            <WorkerType>
              <Type FullName="Demo.HelloWorldWorker" />
            </WorkerType>
          </JobAndWorkerType>
        </JobConfiguration>
      </JobConfigurations>
    </DispatcherSettings>
  </Dispatchers>
  <BootstrapJobs>
    <BootstrapJob>
      <JobType>
        <Type FullName="Demo.HelloWorldJob" />
      </JobType>
    </BootstrapJob>
  </BootstrapJobs>
</BootstrapSettings>