<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReactiveServices" type="ReactiveServices.Configuration.ConfigurationSections.ReactiveServicesSection, ReactiveServices.Configuration"/>
  </configSections>
  <ReactiveServices ShowConsoleWindow="false" />
  <connectionStrings>
    <add name="MessageBus" connectionString="host=%RABBITMQ_HOSTNAME%;virtualHost=/;username=rstests;password=rstests" />
  </connectionStrings>
</configuration>